body {
  background: linear-gradient(90deg, #000000, blueviolet, #000000, blueviolet, #000000);
  background-size: 300% 100%; /* Wider for seamless repeat */
  animation: gradient-scroll 6s linear infinite;
}

@keyframes gradient-scroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 0%;
  }
}

    .my-custom-button {
      font-family: 'Arial', sans-serif;
      font-size: 12px;
      color: rgb(0, 0, 0);
      background-color: #f01bff;
      border-radius: 0px;
      size: 15px;
      padding: 16px 32px; 
      border-width: 5px;
    }