body {
  background: linear-gradient(270deg, #000000, blueviolet, #000000);
  background-size: 600% 600%;
  animation: gradient-move 2s ease infinite; /* 3s = fast, lower for faster */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 100%;
    color: #000000;
  }
  33% {
    background-position: 100% 200%;
    color: blueviolet;
  }
  66% {
    background-position: 200% 300%;
    color: #000000;
  }
  99% {
    background-position: 300% 400%;
    color: blueviolet;
  }

}

    .my-custom-button {
      font-family: 'Arial', sans-serif;
      font-size: 12px;
      color: rgb(0, 0, 0);
      background-color: #f01bff;
      border-radius: 0px;
      size: 15px;
      padding: 16px 32px; 
      border-width: 5px;
    }