body {
  background: linear-gradient(90deg, #000000, blueviolet, #000000, blueviolet);
  background-size: 200% 100%; /* Makes the gradient repeat horizontally */
  animation: gradient-scroll 5s linear infinite;
}

@keyframes gradient-scroll {
  0% {
    background-position: 0% 33%;
  }
  33% {
    background-position: 33% 66%;
  }
  66% {
    background-position: 66% 99%;
  }
  99% {
    background-position: 99% 0%;
  }

}

    .my-custom-button {
      font-family: 'Arial', sans-serif;
      font-size: 12px;
      color: rgb(0, 0, 0);
      background-color: #f01bff;
      border-radius: 0px;
      size: 15px;
      padding: 16px 32px; 
      border-width: 5px;
    }